.carte{
    margin-bottom: 3%;
    background-color: antiquewhite;
    border: 2px solid black;
    width: 70%;
}
.partie1 {
    display: flex;
    margin-left: 3%;
}
.description {
    margin-left: 5%;
}
.partie2{
    margin-left: 3%;
    display: flex;
    justify-content: space-between;
}
.partie3{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: center;
    margin-right: 3%;
}